<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.purnota.pending">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Resource" />
        <activity android:name=".English" />
        <activity android:name=".About" />
        <activity android:name=".LearnNewTopic" />
        <activity android:name=".ContestSite" />
        <activity android:name=".STLActivity" />
        <activity android:name=".TopicNTActivity" />
        <activity android:name=".TopicSrcNSortActivity" />
        <activity android:name=".TopicDSActivity" />
        <activity android:name=".TopicGreedyActivity" />
        <activity android:name=".TopicDPActivity" />
        <activity android:name=".TopicGraphActivity" />
        <activity android:name=".TopicGeometryActivity" />
        <activity android:name=".TopicGameActivity" />
        <activity android:name=".TopicStringActivity" />
        <activity android:name=".TopicOtherActivity" />
        <activity android:name=".Bangla" />
        <activity android:name=".Developer" />
        <activity android:name=".Pdf" />
        <activity android:name=".ViewNDnload"></activity>
    </application>

</manifest>